* {
    margin: 0;
    padding: 0;
    font-family: "jf-openhuninn-1.1"; /* 字體使用粉圓體 */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --BananaYellow: #f8e4ac; /*標題的標籤色、button-黃、前台分頁箭頭鈕、block-黃(註冊介面、領養資訊、毛孩知識)*/
    --FrosteeGreen: #deedcc; /* button-綠 */
    --RomanticOrange: #fdc29a; /* button-橘、會員登入介面-線條 */
    --lightRed: #ffb8ac; /*button-粉*/
    --lightYellow: #fffde7; /*block-淡黃(領養資訊)*/
    --nileBlue: #4b6454; /*block-土耳其綠(領養資訊)*/
    --ivory: #f5f5f5; /*block-象牙白(首頁區塊、毛孩領養區塊)*/
    --beige: #f6f4e8; /* block-米白(登入介面、會員中心介面區塊)*/
    --cornsilk: #f4f3ec; /* block-玉米鬚白(刊登送養 、麵包屑(50%半透) )*/
    --pearl: #dedccd; /* input-背景色 */
    --seaFoam: #afc2cb; /*footer-background Color*/
    --red: #ff0202;
    --white: #fff;
    --TextColor: #1d3124; /* 字體顏色*/
    --TextTitle: 30px; /*標題 字體大小 nav_bar*/
    --TextContent: 22px; /*內容 字體大小*/
    --zindex00: 30000;
    --zindex01: 20000;
    --zindex02: 10000;
    --zindex03: 9000;
}
body {
    display: flex;
    flex-direction: column;
    line-height: 2px; /*行高2px*/
}
.white {
    color: #fff;
    background-color: #fff;
}
