<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <script src="../Bootstrap/js/jquery.min.js"></script>
    <script src="../Bootstrap/js/popper.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- css -->
    <link rel="stylesheet" href="stylesheets/minyustyle.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>浪浪有窩</title>
    <style>
        /* 熱門文章 */
        .hot-article-box {

            height: 450px;
        }

        .hot-article-imgbox {

            float: left;
            height: 150px;
            padding: 10px;
        }

        .hot-article-listbox {

            float: right;
            height: 150px;
            padding: 15px;
        }

        .hot-article-img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* 文章區塊 */
        .article-img{
            /* 文章圖片置中 */
            display:block; 
            margin:auto;
        }

        .titleStyle {
            text-align: center;
            margin: 50px;
            font-weight: bolder;
        }
        .contentStyle {
            text-align: center;
            /* 使用CSS的white-space 屬性保留空白符序列，但是正常地進行換行。 */
            white-space: pre-wrap;
        }


    </style>
</head>

<body>
    <!--navbar-->
    <div class="container-fluid header">
        <a href="#" class="logoImg navbar-brand">
            <img src="../img/Logo/改I2 2.png" alt="" class="logo">
            <img src="../img/Logo/字.png" alt="" class="logo-text">
        </a>
        <div class="nav">
            <!-- 漢堡選單 -->
            <ul class="menu burgar-menu">
                <li><a href="/index">首頁</a></li>
                <li><a href="/AdoptList">毛孩領養</a></li>
                <li><a href="/Foster">刊登送養</a></li>
                <li><a href="/KnowList">毛孩知識</a></li>
            </ul>
            <a href="#" class="hamBar burgar-menu">
                <i>
                    <img src="../img/icon/square.png" class="ham hamBar-icon"></img>
                </i>
            </a>
            <!-- navbar-user -->
            <div class="btn-group">
                <button class="btn  btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="../img/icon/user.png" alt="" class="user-icon">
                </button>
                <div class="dropdown-menu  user-menu dropdown-menu-right">
                    <ul>
                        <li><a href="./UserEdit.html">會員資料</a></li>
                        <li><a href="./UserFoster.html">我的送養文</a></li>
                        <li><a href="./UserFollow.html">追蹤的毛孩</a></li>
                        <li><a href="./UserMsg.html">通知</a></li>
                        <li><a href="./FindMe.html">登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 頁籤 breadcrumb -->
    <div class="breadcrumb-block">
        <div class="container-fluid">
            <ol class="breadcrumb pb-0">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item" aria-current="page">毛孩知識</li>
                <li class="breadcrumb-item active" aria-current="page">狗狗飼料必定要知道的5件事，第一次養狗就上手</li>
            </ol>
        </div>
    </div>
    <!-- 主要內容 -->
    <div class="row col-12">
        <div class="col-md-1"></div>
        <div class="col-md-7 articleBox">
            <div class="article-img-box">
                <img class="img-fluid article-img" src="../img/animals/dog04.jpeg" alt="" />
            </div>
            <div class="article-title-box">
                <h4 class="titleStyle">
                    <%= data[0].ArticleTitle %>
                </h4>
            </div>
            <div class="article-content-box">
                <p class="contentStyle">
                    <%= data[0].ArticleCont %>
                </p>
            </div>
        </div>

        <!-- 熱門文章 -->
        <div class="col-md-3"
            style="background-color: var(--BananaYellow); height: 480px; border-radius: 40px 40px 40px 40px ; overflow: hidden;">
            <div
                style="display: flex; flex-direction: column; align-items: center; padding-top: 20px; justify-content: space-around;">
                <p class="h3">熱門文章</p>
                <!-- 分界線 -->
                <div class="" style="background-color: #fff; padding: 0.15rem; border-radius: 40px; width: 65%"></div>
            </div>
            <ul class="col-md-12 hot-article-box">
                <!-- 熱門文章內容 -->
                <% for(var i=0; i<data.length; i++) { %>
                    <li class="row ">
                        <div class="col-md-6 hot-article-imgbox">
                            <a href="">
                                <img class="hot-article-img" src="../img/animals/dog04.jpeg" alt="" />
                            </a>
                        </div>
                        <div class="col-md-6 hot-article-listbox">
                            <a href="">
                                <p class="hot-articleTitle">
                                    <%= data[i].ArticleTitle %>
                                </p>
                                <p class="hot-articleDate">
                                    <%= data[i].ArticleDate.toLocaleDateString() %>
                                </p>
                            </a>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
</body>
<script>
    // 漢堡選單
    $(document).ready(function () {
        $('.burgar-menu').on('click', function (e) {
            $('body').toggleClass('burgar-menu-show');
        });
    });
</script>

</html>