<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  
  <!-- css -->
  <!-- <link rel="stylesheet" href="../HomeForStray/public/stylesheets/minyustyle.css"> -->
  <link rel="stylesheet" href="../HomeForStray/public/stylesheets/style.css">
  <title>浪浪有窩</title>
  <style>
    /* 熱門文章 */
    .hot-article-box {
      height: 450px;
    }

    .hot-article-imgbox {
      float: left;
      height: 150px;
      padding: 10px;
    }

    .hot-article-listbox {
      float: right;
      height: 150px;
      padding: 10px;
    }

    .hot-article-img {
      border-radius: 5px;
      width:70px;
      height:70px;
      object-fit: cover;
    }

    .hot-articleTitle {
      font-size: 18px;
    }

    .hot-articleDate {
      text-align: center;
    }

    /* 文章區塊 */
    .article-img {
      /* 文章圖片置中 */
      display: block;
      margin: auto;
    }

    .articleDate {
      text-align:left;
      /* padding:  20px; */
    }

    .titleStyle {
      text-align: center;
      margin: 50px 0 0 0;
      font-weight: bolder;
    }

    .contentStyle {
        font-size: 22px;
        line-height: 2;
      text-align: left;
      /* 使用CSS的white-space 屬性保留空白符序列，但是正常地進行換行。 */
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
  <%- include Header %>

    <!-- 主要內容 -->
    <div class="container">
      <div class="row col-12">
      <div class="col-md-8 articleBox">
          <div class="article-title-box">
            <h3 class="titleStyle">
              狗狗飼料必定要知道的5件事，第一次養狗就上手
            </h3>
            <p class="figure-caption articleDate">
              2021/09/09
            </p>
          </div>
          <hr>
        <div class="article-img-box">
          <img class="img-fluid article-img" src="https://picsum.photos/490/280/?random=1" alt="" />
        </div>
        <div class="article-content-box">
          <p class="contentStyle">
            愛狗狗的主人們，不論新手或老手，一定都有搜尋「狗狗飼料挑選推薦」的經驗，網路上資訊爆炸多，怎麼樣的飼料、飲食策略，才是對狗狗最好的呢？
            寵聊療經過長時間的經驗累積過後，彙整身邊專業人士意見，整理出狗狗飼料選購建議大全。選擇飼料看完本篇就會讓你快速了解如何找到適合自己家中寶貝的飼料。 飼料是什麼？ 狗狗只吃飼料可以嗎？
            AAFCO跟WDJ是什麼？大家為何都在意？ 最好的飼料？最適合的飼料？ 全肉(Meat)與肉粉(MeatMeal)的不同？副產品是什麼？ 快速上手飼料挑選法則？ 總結
            狗狗飼料必定要知道的5件事，第一次養狗就上手 內文開始 飼料是什麼？
            飼料是一種加工品，不是原型食物。是主人使用的飲食種類，原因無他，最方便的就是飼料了，無論是保存、取得、餵食處理，無疑都是最方便的選擇。
          </p>
        </div>
      </div>

      <!-- 熱門文章 -->
      <div class="col-md-4">
        <div
          style="display: flex; flex-direction: column; align-items: center; padding-top: 20px; justify-content: space-around;">
          <p class="h3">熱門文章</p>
          <!-- 分界線 -->
          <div class="" style="background-color: #fff; padding: 0.15rem; border-radius: 40px; width: 65%"></div>
        </div>
        <ul class="col-md-12 hot-article-box">
          <!-- 熱門文章內容 -->
            <li class="row ">
              <div class="col-md-6 hot-article-imgbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <img class="hot-article-img" src="../img/animals/dog04.jpeg" alt="" />
                </a>
              </div>
              <div class="col-md-6 hot-article-listbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <p class="hot-articleTitle">
                    三分鐘搞懂如何讓狗狗不再亂咬東西？
                  </p>
                  <p class="figure-caption hot-articleDate">
                    2021-06-13
                  </p>
                </a>
              </div>
            </li>
            <li class="row ">
              <div class="col-md-6 hot-article-imgbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <img class="hot-article-img" src="../img/animals/dog04.jpeg" alt="" />
                </a>
              </div>
              <div class="col-md-6 hot-article-listbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <p class="hot-articleTitle">
                    三分鐘搞懂如何讓狗狗不再亂咬東西？
                  </p>
                  <p class="figure-caption hot-articleDate">
                    2021-06-13
                  </p>
                </a>
              </div>
            </li>
            <li class="row ">
              <div class="col-md-6 hot-article-imgbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <img class="hot-article-img" src="../img/animals/dog04.jpeg" alt="" />
                </a>
              </div>
              <div class="col-md-6 hot-article-listbox">
                <a href="/KnowConent?id=<%= hotdata[i].ArticleId %>&pageNo=<%= pageNo %>">
                  <p class="hot-articleTitle">
                    三分鐘搞懂如何讓狗狗不再亂咬東西？
                  </p>
                  <p class="figure-caption hot-articleDate">
                    2021-06-13
                  </p>
                </a>
              </div>
            </li>
        </ul>
      </div>
    </div>  
    </div>
    

    <!-- footer -->
    <%- include footer%>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
</body>
<script>
  // 漢堡選單
  $(document).ready(function () {
    $('.burgar-menu').on('click', function (e) {
      $('body').toggleClass('burgar-menu-show');
    });
  });


 
</script>

</html>